@font-face {
  font-family: "Nunito";
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap') format('woff2'),
       url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap') format('woff');
}

:root{
  font-family: "Nunito", sans-serif;
}